<div class="add_new_column">
    <input id="new_column_name" class="form-control" placeholder="Column name" required/>
    <button class="btn add-board-btn" onclick="Board.addNewColumn({{ board_id }})">
        Create Column
    </button>
    <button class="btn btn-danger cancel-board-btn" onclick="Board.cancelNewColumn(this)">
        Cancel
    </button>
</div>