<div class="columns-page">
    <div class="col-md-12 back-to-boards">
        <button class="btn" onclick="Board.updateBoard()">
            <i class="glyphicon glyphicon-arrow-left" aria-hidden="true"></i>
            {{ board.name }}
        </button>
    </div>
    <div class="col-md-12">
        {% if (board.user_id == user_id) %}
            <div class="carts-container col-md-3">
                <button class="btn get-board-btn" onclick="Board.getNewColum({{ board.id }}, this)">
                    Add new column
                </button>
            </div>
        {% endif %}
    </div>
    <div board_id="{{ board.id }}" class="columns col-md-12">
        <div class="clear"></div>
        <div class="clear"></div>
        <div class="clear"></div>
        {% for column in columns %}
            <div column_id="{{ column.id }}" column_number="{{ column.list_number }}" class="carts-container col-md-3">
                {% if (board.user_id == user_id) %}
                    <p>
                        <button column_id="{{ column.id }}" onclick="Board.editColumn(this)"
                                class="edit_column">
                            <i class="glyphicon glyphicon-pencil"></i>
                        </button>
                        <button column_id="{{ column.id }}"
                                onclick="Board.removeColumn({{ column.id }})"
                                class="remove_column">
                            <i class="glyphicon glyphicon-remove"></i>
                        </button>
                    </p>
                {% endif %}
                <h3 class="custom-column-title">
                    {{ column.name }}
                </h3>
                {% set counter = 0 %}
                {% set estimated_time = 0 %}
                {% set spend_time = 0 %}
                <ul class="draggable-list" column_id="{{ column.id }}">
                    {% for cart in carts %}
                        {% if  column.id == cart.column_id %}
                            {% set counter = counter + 1 %}
                            {% set estimated_time = estimated_time + cart.estimated_time %}
                            {% set spend_time = spend_time + cart.spend_time %}
                            <li class="sortable">
                                {% if (cart.name == '') %}
                                    <button list_number="{{ cart.cart_number }}" cart_id="{{ cart.id }}"
                                            class="btn btn-wrong get-board-btn btn-danger"
                                            onclick="Board.openCart({{ cart.id }})">
                                        This cart is broken
                                    </button>
                                {% else %}
                                    <button list_number="{{ cart.cart_number }}" cart_id="{{ cart.id }}"
                                            class="btn get-board-btn"
                                            onclick="Board.openCart({{ cart.id }})">
                                        {{ cart.name }}
                                    </button>
                                {% endif %}
                            </li>
                        {% endif %}
                    {% endfor %}
                </ul>
                <div class="column_info">
                    <p class="info">
                        Task count - {{ counter }}
                    </p>
                    <p class="info">
                        Estimated time: {{ estimated_time//43200 }}
                        months {{ (estimated_time%43200)//1440 }}
                        days {{ ((estimated_time%43200)%1440)//60 }}
                        hours {{ ((estimated_time%43200)%1440)%60 }} mins
                    </p>
                    {% set remaining_time = estimated_time -  spend_time %}
                    {% if remaining_time<0 %}
                        <p class="info">
                            Remaining time: 0 mins
                        </p>
                    {% else %}
                        <p class="info">
                            Remaining time: {{ remaining_time//43200 }}
                            months {{ (remaining_time%43200)//1440 }}
                            days {{ ((remaining_time%43200)%1440)//60 }}
                            hours {{ ((remaining_time%43200)%1440)%60 }} mins
                        </p>
                    {% endif %}
                </div>
                {% if (board.user_id == user_id) %}
                    <button class="btn get-board-btn add-cart" onclick="Board.getNewCartForm({{ column.id }})">
                        Add new cart
                    </button>
                {% endif %}
            </div>
        {% endfor %}
    </div>
    <script>
        /**
         * Draggable ui
         * Inserted here, because after bord update removes some classes that sets by jquery-ui for draggable posibbility
         */
        $('.draggable-list').sortable({
            connectWith: ".draggable-list",
            handle: 'button',
            cancel: '',
            dropOnEmpty: true,
            stop: function (event, ui) {
                $('.black-background').show();
                $('#fountainG').show();
                var cart_id = ui.item.find('.get-board-btn').attr('cart_id');
                var old_cart_position = ui.item.find('.get-board-btn').attr('list_number');
                var new_position = ui.item.parent().parent().find('.draggable-list').attr('column_id');
                var prev_el = ui.item.prev().find('.get-board-btn').attr('list_number');
                var next_el = ui.item.next().find('.get-board-btn').attr('list_number');
                data = {
                    'cart_id': cart_id,
                    'old_column': old_cart_position,
                    'new_column': new_position,
                    'prev_el': prev_el,
                    'next_el': next_el
                };
                $.post("/updatecartposition", {'data': data}, function (data) {
                    var board_id = $('.columns').attr('board_id').trim();
                    Board.openBoard(board_id);
                });
            }
        });
        $('.columns').sortable({
            connectWith: ".columns",
            cancel: 'input',
            dropOnEmpty: true,
            stop: function (event, ui) {
                $('.black-background').show();
                $('#fountainG').show();
                var column_id = ui.item.attr('column_id');
                var prev_el = ui.item.prev().attr('column_number');
                var next_el = ui.item.next().attr('column_number');
                var board_id = $('.columns').attr('board_id').trim();
                console.log(ui.item.attr('column_number'));
                console.log(prev_el);
                console.log(next_el);
                data = {
                    'column_id': column_id,
                    'prev_el': prev_el,
                    'next_el': next_el,
                    'board_id': board_id
                };
                $.post("/updateColumnPosition", {'data': data}, function (data) {
                    Board.openBoard(board_id);
                });
            }
        });
    </script>
</div>