Log in or create a new account if you don't have it yet
<a class="btn btn-lg btn-primary btn-block" href="/login">
    Login
</a>
<a class="btn btn-lg btn-primary btn-block" href="/register">
    Register
</a>
<div id="gSignIn"></div>