<div class="add-new-board-form">
    <input id="new_board_name" class="form-control" placeholder="Board name" required/>
    <button class="btn add-board-btn" onclick="Board.addNewBoard()">
        Create Board
    </button>
    <button class="btn btn-danger cancel-board-btn" onclick="Board.cancelNewBoard()">
        Cancel
    </button>
</div>