<h2 class="board-title">
    Boards:
</h2>
<div class="clear"></div>
<div class="clear"></div>
{% for board in boards %}
    <div class="col-md-3 board">
        <h3 class="custom-board-title">
            <button class="btn btn-openboard" onclick="Board.openBoard({{ board.id }})">
                {{ board.name|e }}
            </button>
            {% if (board.user_id == user_id) %}
                <button board_id="{{ board.id }}" onclick="Board.editBoard(this)" class="edit_board">
                    <i class="glyphicon glyphicon-pencil"></i>
                </button>
                <button class="remove_board" column_id="{{ board.id }}"
                        onclick="Board.removeBoard({{ board.id }})">
                    <i class="glyphicon glyphicon-remove"></i>
                </button>
            {% endif %}
        </h3>
        <p class="owner">
            Created by {{ board.username|e }}
        </p>
    </div>
{% endfor %}
<div class="col-md-3 board" id="add_board"></div>
<button class="btn col-md-3 add-new-board" onclick="Board.getNewBoardForm()">
    Add new board
</button>