{% extends 'AppBundle:layout:main.html.twig' %}

{% trans_default_domain 'FOSUserBundle' %}

{% block fos_user_content %}
    {% if error %}
        <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    <form class="form-signin" action="{{ path("fos_user_security_check") }}" method="post">
        <h2 class="form-signin-heading">Log In</h2>
        <input type="hidden" name="_csrf_token" value="{{ csrf_token }}"/>

        <input placeholder="{{ 'security.login.username'|trans }}" class="form-control" type="text" id="username"
               name="_username" value="{{ last_username }}" required="required"/>

        <!-- <label for="password">{{ 'security.login.password'|trans }}</label> -->
        <input placeholder="{{ 'security.login.password'|trans }}" class="form-control" type="password" id="password"
               name="_password" required="required"/>

        <div class="checkbox">
            <label for="remember_me">
                <input type="checkbox" id="remember_me" name="_remember_me" value="on"/>
                {{ 'security.login.remember_me'|trans }}
            </label>
        </div>

        <input class="btn btn-lg btn-primary btn-block" type="submit" id="_submit" name="_submit"
               value="{{ 'security.login.submit'|trans }}"/>
    </form>
    <div class="margin-div"></div>
{% endblock fos_user_content %}