<div class="add_attackments_form">
    <form method="post" id="add_attackments_form" action="/addattachment" enctype="multipart/form-data">
        <input id="cart_id" name="cart_id" class="form-control" value="{{ cart_id }}"/>
        <input type="file" name="files[]" id="files">
        <input class="btn btn-success" type="submit" id="submit" value="Add">
    </form>
    <button class="btn btn-warning" onclick="Board.cancelUploadFiles()">
        Cancel
    </button>
    <script>
        $(document).ready(function () {
            $('#add_attackments_form').on('submit', function (e) {
                e.preventDefault();
                var $that = $(this),
                        formData = new FormData($that.get(0));
                $.ajax({
                    url: $that.attr('action'),
                    type: $that.attr('method'),
                    contentType: false,
                    processData: false,
                    data: formData,
                    dataType: 'json',
                    success: function () {
                        Board.openCart($('.cart-info').attr('cart_id'));
                    },
                    error: function (data) {
                        if(data['responseText'] == 'uploaded'){
                            Board.openCart($('.cart-info').attr('cart_id'));
                        }
                        else {
                            alert(data['responseText']);
                        }
                    }
                });
            });

        });
    </script>
</div>