<form id="addspendtime_form" method="post" action="/addspendtime" enctype="multipart/form-data">
    <p class="estimate-time">
        <input id="estimate_months" name="estimate_months" type="number" min="0" max="12"
               placeholder="Set months"
               class="form-control" required/>
        <input id="estimate_days" name="estimate_days" type="number" min="0" max="31"
               placeholder="Set days"
               class="form-control" required/>
        <input id="estimate_hours" name="estimate_hours" type="number" min="0" max="24"
               placeholder="Set hours"
               class="form-control" required/>
        <input id="estimate_mins" name="estimate_mins" type="number" min="0" max="60"
               placeholder="Set mins"
               class="form-control" required/>
        <input id="cart_id" name="cart_id" value="{{ cart_id }}"/>
    </p>
    <p class="cart-options">
        <input class="btn btn-success" value="Add" type="submit"/>
    </p>
</form>
<button class="btn btn-warning" id="CanceladdSpentTime" onclick="Board.canceladdSpentTime()">
    Cancel
</button>

<script>
    $(document).ready(function () {

        $('#addspendtime_form').on('submit', function (e) {
            e.preventDefault();
            var valid = Validate.validateTime($('#estimate_months').val().trim(), $('#estimate_days').val().trim(),
                    $('#estimate_hours').val().trim(), $('#estimate_mins').val().trim());
            if (valid) {
                alert('Please, set ' + valid);
            }
            else {
                var $that = $(this),
                        formData = new FormData($that.get(0));
                $.ajax({
                    url: $that.attr('action'),
                    type: $that.attr('method'),
                    contentType: false,
                    processData: false,
                    data: formData,
                    dataType: 'json',
                    success: function () {
                        Board.openCart($('.cart-info').attr('cart_id'));
                    }
                });
            }
        });

    });
</script>