<form id="new_cart" method="post" action="/addnewcart" enctype="multipart/form-data">
    <input id="column_id" name="column_id" class="form-control" value="{{ column_id }}"/>
    <input id="cart_name" name="cart_name" class="form-control" placeholder="Cart name" required/>
    <textarea name="cart_description" id="cart_description" type="text" class="form-control"
              placeholder="Cart description" required></textarea>
    <h4>
        Add Members:
    </h4>
    <select name="cart_members[]" class="form-control" id="cart_members" multiple required>
        {% for user in users %}
            <option value="{{ user.id|e }}"> {{ user.username|e }} </option>
        {% endfor %}
    </select>
    <textarea id="cart_comment" name="cart_comment" class="form-control" placeholder="Add comment"></textarea>
    <h3>
        Set estimate time
    </h3>
    <p class="estimate-time">
        <input id="estimate_months" name="estimate_months" type="number" min="0" max="12"
               placeholder="Set months"
               class="form-control" required/>
        <input id="estimate_days" name="estimate_days" type="number" min="0" max="30"
               placeholder="Set days"
               class="form-control" required/>
        <input id="estimate_hours" name="estimate_hours" type="number" min="0" max="24"
               placeholder="Set hours"
               class="form-control" required/>
        <input id="estimate_mins" name="estimate_mins" type="number" min="0" max="60"
               placeholder="Set mins"
               class="form-control" required/>
    </p>
    <input type="file" name="files[]" id="files">
    <input class="btn" type="submit" id="submit" value="Create">
    <button class="btn btn-danger" onclick="Board.cancelNewCart(event)">
        Cancel
    </button>
</form>
<script>
    $(document).ready(function () {

        /**
         * Sends request for creating new cart
         */
        $('#new_cart').on('submit', function (e) {
            e.preventDefault();
            var valid = Validate.validateNewCart($(this));
            if (valid) {
                alert('Please, set ' + valid);
            }
            else {
                var $that = $(this),
                        formData = new FormData($that.get(0));
                $.ajax({
                    url: $that.attr('action'),
                    type: $that.attr('method'),
                    contentType: false,
                    processData: false,
                    data: formData,
                    dataType: 'json',
                    success: function () {
                        var board_id = $('.columns').attr('board_id').trim();
                        $('.carts').hide();
                        Board.openBoard(board_id);
                    },
                    error: function (data) {
                        alert(data['responseText']);
                    }
                });
            }
        });

    });
</script>