<div class="cart-info" cart_id="{{ cart.id }}">
    <div class="cart-times">
        <p class="datetimes">
            Created - {{ cart.created_time }}
        </p>
        <p class="datetimes">
            Estimated time: {{ cart.estimated_time//43200 }}
            months {{ (cart.estimated_time%43200)//1440 }}
            days {{ ((cart.estimated_time%43200)%1440)//60 }}
            hours {{ ((cart.estimated_time%43200)%1440)%60 }} mins
            {% if cart.user_id == user_id %}
                <button board_id="{{ cart.id }}" onclick="Board.getFormForUpdateEstimateTime()" class="edit_cart">
                    <i class="glyphicon glyphicon-pencil"></i>
                </button>
            {% endif %}
        </p>
        <p class="datetimes">
            Spent time: {{ cart.spend_time//43200 }}
            months {{ (cart.spend_time%43200)//1440 }}
            days {{ ((cart.spend_time%43200)%1440)//60 }}
            hours {{ ((cart.spend_time%43200)%1440)%60 }} mins
        </p>
        {% set remaining_time = cart.estimated_time -  cart.spend_time %}
        {% if remaining_time<0 %}
            Remaining time: 0 mins
            {% else %}
                <p class="datetimes">
                    Remaining time: {{ remaining_time//43200 }}
                    months {{ (remaining_time%43200)//1440 }}
                    days {{ ((remaining_time%43200)%1440)//60 }}
                    hours {{ ((remaining_time%43200)%1440)%60 }} mins
                </p>
        {% endif %}
        <p class="datetimes">
            Progress: {{ progress }}
        </p>
        <button id="add_time_btn" class="btn btn-success" onclick="Board.getFormForAddingTime(this, {{ cart.id }})">
            Add time
        </button>
    </div>
    <h2 class="cart-titel">
        {{ cart.name }}
        {% if cart.user_id == user_id %}
            <button board_id="{{ cart.id }}" onclick="Board.getFormForUpdateCartName()" class="edit_cart">
                <i class="glyphicon glyphicon-pencil"></i>
            </button>
        {% endif %}
    </h2>
    <div class="members">
        <strong>
            Members:
            {% if cart.user_id == user_id %}
                <button board_id="{{ cart.id }}" onclick="Board.getFormForUpdateCartMembers()" class="edit_cart">
                    <i class="glyphicon glyphicon-pencil"></i>
                </button>
            {% endif %}
        </strong>
        {% for member in members %}
            {{ member }} |
        {% endfor %}
    </div>
    <div class="description">
        <h3>
            Description:
            {% if cart.user_id == user_id %}
                <button board_id="{{ cart.id }}" onclick="Board.getFormForUpdateCartDescription()" class="edit_cart">
                    <i class="glyphicon glyphicon-pencil"></i>
                </button>
            {% endif %}
        </h3>
        <p>
            {{ cart.description }}
        </p>
    </div>
    <div class="attachments">
        <h3>
            Attachments:
        </h3>
        {% for attachment in attachments %}
            <a target="_blank" href="{{ asset('uploads/files/' ~ attachment.name ) }}">{{ attachment.name }}</a>
            <br/>
        {% endfor %}
        <button class="btn btn-success" id="add_attachment_btn" onclick="Board.getAttachmentForm(this)">
            Add attachments
        </button>
    </div>
    <div class="checkouts">
        <h3>
            Checkouts:
        </h3>
        {% for item in checklist %}
            <button class="btn btn-checklist {% if item.is_done  %} btn-success {% endif %}" onclick="Board.openChecklist({{ item.id }}, this)">
                {{ item.name }}
            </button>
        {% endfor %}
        <button class="btn btn-success" id="add_checkout" onclick="Board.getCheckoutForm()">
            Add checkout
        </button>
        <button class="btn btn-warning" id="add_checkout" onclick="Board.closeCheckouts()">
            Close checkouts
        </button>
    </div>
    <div class="comments">
        <h3>
            Comments:
        </h3>
        {% for comment in comments %}
            <div class="comment">
                {{ comment.comment }}
                <p class="left-by">
                    Left by {{ comment.username }}
                </p>
            </div>
        {% endfor %}
        <button class="btn btn-success" id="get-comment-form" onclick="Board.getCommentForm()">
            Add Comments
        </button>
    </div>
    <div class="cart-options">
        <button class="btn btn-warning" onclick="Board.cloaseCart()">
            Close Cart
        </button>
        {% if cart.user_id == user_id %}
            <button class="btn btn-danger" onclick="Board.removeCart()">
                Delete Cart
            </button>
        {% endif %}
    </div>
</div>