<div class="comment-form">
    <textarea id="new-comment" class="form-control"></textarea>
    <button class="btn btn-success" onclick="Board.addCommentsinCart()">
        Add Comment
    </button>
    <button class="btn btn-warning" onclick="Board.cancelNewComment()">
        Cancel
    </button>
</div>