<div class="update_estimate_time">
    <h2>
        Set new estimate time
    </h2>
    <form id="UpdateEstimateTime" method="post" action="/UpdateEstimateTime" enctype="multipart/form-data">
        <p class="estimate-time">
            <input id="update_estimate_months" name="update_estimate_months" type="number" min="0" max="12"
                   placeholder="Set months"
                   class="form-control" required/>
            <input id="update_estimate_days" name="update_estimate_days" type="number" min="0" max="31"
                   placeholder="Set days"
                   class="form-control" required/>
            <input id="update_estimate_hours" name="update_estimate_hours" type="number" min="0" max="24"
                   placeholder="Set hours"
                   class="form-control" required/>
            <input id="update_estimate_mins" name="update_estimate_mins" type="number" min="0" max="60"
                   placeholder="Set mins"
                   class="form-control" required/>
            <input id="cart_id" name="cart_id" value="{{ cart_id }}"/>
        </p>
        <p class="cart-options">
            <input class="btn btn-success" value="Update" type="submit"/>
            <button class="btn btn-warning" onclick="Board.cancelUpdateEstimateTime(event)">
                Cancel
            </button>
        </p>
    </form>
    <script>
        $(document).ready(function () {
            $('#UpdateEstimateTime').on('submit', function (e) {
                e.preventDefault();
                var valid = Validate.validateTime($('#update_estimate_months').val().trim(), $('#update_estimate_days').val().trim(),
                        $('#update_estimate_hours').val().trim(), $('#update_estimate_mins').val().trim());
                if (valid) {
                    alert('Please, set ' + valid);
                }
                else {
                    var $that = $(this),
                            formData = new FormData($that.get(0));
                    $.ajax({
                        url: $that.attr('action'),
                        type: $that.attr('method'),
                        contentType: false,
                        processData: false,
                        data: formData,
                        dataType: 'json',
                        success: function () {
                            Board.openCart($('.cart-info').attr('cart_id'));
                        }
                    });
                }
            });

        });
    </script>
</div>