<div id="update_cart_members">
    <h2>
        Set new members
    </h2>
    <form id="UpdateCartMembers" method="post" action="/UpdateCartMembers" enctype="multipart/form-data">
        <select name="cart_members[]" class="form-control" id="cart_members" multiple required>
            {% for user in users %}
                <option value="{{ user.id|e }}"> {{ user.username|e }} </option>
            {% endfor %}
        </select>
        <input id="cart_id" name="cart_id" value="{{ cart_id }}"/>
        <p class="cart-options">
            <input class="btn btn-success" value="Update" type="submit"/>
            <button class="btn btn-warning" onclick="Board.cancelUpdateCartMembers(event)">
                Cancel
            </button>
        </p>
    </form>
    <script>
        $(document).ready(function () {
            $('#UpdateCartMembers').on('submit', function (e) {
                e.preventDefault();
                var cart_members = $('#cart_members').val();
                if (cart_members == null) {
                    alert('Select some cart members');
                }
                else {
                    var $that = $(this),
                            formData = new FormData($that.get(0));
                    $.ajax({
                        url: $that.attr('action'),
                        type: $that.attr('method'),
                        contentType: false,
                        processData: false,
                        data: formData,
                        dataType: 'json',
                        success: function () {
                            Board.openCart($('.cart-info').attr('cart_id'));
                        }
                    });
                }
            });

        });
    </script>
</div>