/**
* Custom styles
*/

body {
    margin: auto;
}

.header-title {
    text-align: center;
}

.btn {
    overflow: hidden;
    text-overflow: ellipsis;
}

.sign-in {
    max-width: 320px;
    margin: auto;
    text-align: center;
    font-size: 21px;
    margin-top: 20px;
}

.sign-in > a {
    margin-top: 10px;
}

.footer {
    bottom: 0px;
    width: 100%;
    height: 60px;
    margin: auto;
    text-align: center;
    margin-top: 25px;
    background-color: #0067a3;
    padding-top: 20px;
    color: #fff;
}

.form-signin, .registration-form {
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}

.log-out {
    text-align: right;
    padding: 10px;
    color: #fff;
    background-color: #0067a3;
    padding-bottom: 20px;
}

.registration-form > form > div > input {
    color: #337ab7;
    text-decoration: none;
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
    display: block;
    width: 100%;
    padding: 10px 16px;
    font-size: 18px;
    line-height: 1.3333333;
    border-radius: 6px;
    color: #fff;
    background-color: #337ab7;
    border-color: #2e6da4;
}

.registration-form > form > div > input:hover {
    color: #fff;
    background-color: #286090;
    border-color: #204d74;
}

#fos_user_registration_form div > input {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    margin-bottom: 10px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

#fos_user_registration_form div > ul > li {
    color: red;
}

.profile {
    padding: 10px;
    background-color: #0067a3;
    color: #fff;
}

.profile a, .log-out a {
    color: #fff;
}

#gSignIn {
    margin-top: 15px;
}

.profile p {
    margin: 0px 0px 10px 0px;
}

.head {
    margin-bottom: 10px;
}

.head a {
    float: right;
}

.profile img {
    width: 100px;
    float: left;
    margin: 0px 10px 10px 0px;
}

.proDetails {
    float: left;
}

.head {
    text-align: right;
}

.login-message, .login-confirm {
    margin: auto;
    text-align: center;
    font-size: 16px;
    margin-top: 15px;
}

.login-confirm {
    min-height: calc(100vh - 200px);
}

.margin-div {
    min-height: calc(100vh - 332px);
}

/**
* Board styles
*/

.board-title {
    font-size: 21px;
}

.board {
    background-color: #0067a3;
    padding: 10px;
    border-left: 5px solid #fff;
    border-right: 5px solid #fff;
    border-radius: 8px;
    margin-bottom: 10px;
}

.board:nth-child(4n) {
    clear: both;
}

.add-board-btn {
    background-color: #fff;
    width: 100%;
    margin: auto;
    color: #000000;
}

.flash-success {
    text-align: center;
}

.btn-openboard {
    font-size: 16px;
}

.get-board-btn {
    background-color: #fff;
    width: 100%;
    box-shadow: 1px 1px 1px #cccccc;
    font-size: 12px;
    margin: 10px auto;
}

.add-board-btn, .cancel-board-btn {
    width: calc(50% - 10px);
    margin: auto;
    float: left;
    margin: 5px;
    height: 28px;
    font-size: 12px;
}

.form-control {
    height: 28px;
}

.add-board-btn {
    background-color: #fff;
}

.custom-board-title, .custom-column-title {
    margin: auto;
    margin-bottom: 10px;
    font-size: 18px;
    text-align: left;
    color: #fff;
}

.custom-board-title > button {
    background-color: transparent;
    padding: 0;
    font-weight: 700;
}

.draggable-list {
    list-style: none;
    padding: 0;
    min-height: 30px;
    padding: 5px;
}

.carts-container li {
    list-style: none;
    padding: 0;
}

.owner {
    margin-top: 5px;
    margin-bottom: 0px;
    color: #fff;
    text-align: right;
    font-size: 14px;
}

.edit_board, .edit_column, .remove_board, .remove_column {
    float: right;
    color: #fff;
    background-color: transparent;
    border: none;
    position: relative;
}

.edit_board:hover, .edit_column:hover {
    opacity: 0.5;
}

.carts input, .carts textarea {
    margin: 5px auto;
}

.btn-wrong {
    background-color: #d9534f;
    border-color: #d9534f;
}

#board_id {
    display: none;
}

.carts {
    width: 100%;
    margin: auto;
    position: absolute;
    background-color: #fff;
    padding: 20px 10px;
    border-radius: 10px;
    z-index: 9;
    display: none;
    max-width: 320px;
    left: calc(50% - 160px);
    box-shadow: 1px 1px 2px 3px rgba(0, 0, 0, 0.62);
    top: 15px;
}

.carts button {
    font-size: 12px;
}

.content {
    min-height: calc(100vh - 185px);
    max-width: 1240px;
    margin: auto;
}

.carts-container {
    padding: 20px;
    background: #e2e4e6;
    border-radius: 8px;
    margin-bottom: 20px;
    border-left: 5px solid #0079bf;
    border-right: 5px solid #0079bf;
}

.carts-container:nth-child(4n) {
    clear: both;
}

.edit_board i, .edit_column i {
    right: 0px;
    position: absolute;
    font-size: 12px;
}

.register_pass {
    max-width: 320px;
    margin: auto;
    position: absolute;
    background-color: #fff;
    top: 50px;
    left: calc(50% - 160px);
    border-radius: 20px;
    border: 3px #0067a3 solid;
    display: none;
}

.edit_board {
    right: 20px;
    font-size: 12px;
}

.remove_board {
    color: #d9534f;
    font-size: 12px
}

.remove_column {
    left: 20px;
    font-size: 12px;
    color: #d9534f;
}

.remove_board:hover, .remove_column:hover {
    color: #ac2925;
}

.edit_column {
    right: 15px;
}

.column_info .info {
    color: #4d4d4d;
    margin: auto;
    font-size: 12px;
    text-align: right;
}

.black-background {
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: #000;
    opacity: 0.75;
    display: none;
    z-index: 1;
}

#column_id {
    display: none;
}

.add-new-board {
    margin: 0px 5px;
    width: calc(25% - 10px);
    min-height: 74px;
    background-color: #e2e4e6;
    color: #8c8c8c;
}

#add_board {
    display: none;
    min-height: 86px;
}

.add-new-board:hover {
    background-color: #d6dadc;
    color: #4d4d4d;
}

.editing_column {
    margin-top: 10px;
    display: inline-block;
    width: 100%;
}

.columns-titel {
    text-align: center;
    font-size: 21px;
}

.back-to-boards {
    margin: 5px;
}

.cart-times {
    font-size: 12px;
    text-align: right;
}

.cart-titel {
    text-transform: capitalize;
    font-size: 18px;
}

.cart-info h3 {
    font-size: 18px;
}

.comment {
    background: #0067a3;
    padding: 2px 5px;
    margin: 5px auto;
    color: #fff;
}

.btn-success {
    color: #fff;
    background-color: #0067a3;
    border-color: #0067a3;
}

.btn-success:hover, .btn-success:focus, .btn-success:active, .btn-success:visited {
    background-color: #4791bd !important;;
    border-color: #4791bd !important;;
}

.btn-warning:hover, .btn-warning:focus, .btn-warning:active, .btn-warning:visited {
    background-color: #cdd2d4 !important;;
    border-color: #cdd2d4 !important;
}

.btn-warning {
    color: #fff;
    background-color: #e2e4e6;
    border-color: #e2e4e6;
}

.left-by {
    font-size: 10px;
    text-align: right;
    color: #fff;
}

.cart-options {
    text-align: right;
    margin-top: 10px;
}

#cart_id {
    display: none;
}

.btn-checklist {
    width: 100%;
    margin: 5px auto
}

.checklist-info {
    border: 2px #0067a3 solid;
    padding: 5px;
    margin: 10px auto;
}

.checklist-info h2 {
    margin: 0;
    font-size: 18px;
    font-weight: 700;
}

.checklist-info h3 {
    font-size: 14px;
    font-weight: 700;
}

.checkout-form {
    margin-bottom: 10px;
}

.checkouts button {
    margin-bottom: 10px;
}

.edit_cart {
    background-color: transparent;
    border: none;
    font-size: 12px;
}

#update_cart_name, #update_cart_description {
    text-align: right;
}

#update_cart_name .btn, #update_cart_description .btn {
    margin-left: 5px;
}

/**
* Loading animation
*/

#fountainG {
    position: relative;
    width: 234px;
    height: 28px;
    margin: auto;
    top: 50%;
    display: none;
}

.fountainG {
    position: absolute;
    top: 0;
    background-color: rgb(0, 0, 0);
    width: 28px;
    height: 28px;
    animation-name: bounce_fountainG;
    -o-animation-name: bounce_fountainG;
    -ms-animation-name: bounce_fountainG;
    -webkit-animation-name: bounce_fountainG;
    -moz-animation-name: bounce_fountainG;
    animation-duration: 1.5s;
    -o-animation-duration: 1.5s;
    -ms-animation-duration: 1.5s;
    -webkit-animation-duration: 1.5s;
    -moz-animation-duration: 1.5s;
    animation-iteration-count: infinite;
    -o-animation-iteration-count: infinite;
    -ms-animation-iteration-count: infinite;
    -webkit-animation-iteration-count: infinite;
    -moz-animation-iteration-count: infinite;
    animation-direction: normal;
    -o-animation-direction: normal;
    -ms-animation-direction: normal;
    -webkit-animation-direction: normal;
    -moz-animation-direction: normal;
    transform: scale(.3);
    -o-transform: scale(.3);
    -ms-transform: scale(.3);
    -webkit-transform: scale(.3);
    -moz-transform: scale(.3);
    border-radius: 19px;
    -o-border-radius: 19px;
    -ms-border-radius: 19px;
    -webkit-border-radius: 19px;
    -moz-border-radius: 19px;
}

#fountainG_1 {
    left: 0;
    animation-delay: 0.6s;
    -o-animation-delay: 0.6s;
    -ms-animation-delay: 0.6s;
    -webkit-animation-delay: 0.6s;
    -moz-animation-delay: 0.6s;
}

#fountainG_2 {
    left: 29px;
    animation-delay: 0.75s;
    -o-animation-delay: 0.75s;
    -ms-animation-delay: 0.75s;
    -webkit-animation-delay: 0.75s;
    -moz-animation-delay: 0.75s;
}

#fountainG_3 {
    left: 58px;
    animation-delay: 0.9s;
    -o-animation-delay: 0.9s;
    -ms-animation-delay: 0.9s;
    -webkit-animation-delay: 0.9s;
    -moz-animation-delay: 0.9s;
}

#fountainG_4 {
    left: 88px;
    animation-delay: 1.05s;
    -o-animation-delay: 1.05s;
    -ms-animation-delay: 1.05s;
    -webkit-animation-delay: 1.05s;
    -moz-animation-delay: 1.05s;
}

#fountainG_5 {
    left: 117px;
    animation-delay: 1.2s;
    -o-animation-delay: 1.2s;
    -ms-animation-delay: 1.2s;
    -webkit-animation-delay: 1.2s;
    -moz-animation-delay: 1.2s;
}

#fountainG_6 {
    left: 146px;
    animation-delay: 1.35s;
    -o-animation-delay: 1.35s;
    -ms-animation-delay: 1.35s;
    -webkit-animation-delay: 1.35s;
    -moz-animation-delay: 1.35s;
}

#fountainG_7 {
    left: 175px;
    animation-delay: 1.5s;
    -o-animation-delay: 1.5s;
    -ms-animation-delay: 1.5s;
    -webkit-animation-delay: 1.5s;
    -moz-animation-delay: 1.5s;
}

#fountainG_8 {
    left: 205px;
    animation-delay: 1.64s;
    -o-animation-delay: 1.64s;
    -ms-animation-delay: 1.64s;
    -webkit-animation-delay: 1.64s;
    -moz-animation-delay: 1.64s;
}

@keyframes bounce_fountainG {
    0% {
        transform: scale(1);
        background-color: rgb(0, 0, 0);
    }

    100% {
        transform: scale(.3);
        background-color: rgb(255, 255, 255);
    }
}

@-o-keyframes bounce_fountainG {
    0% {
        -o-transform: scale(1);
        background-color: rgb(0, 0, 0);
    }

    100% {
        -o-transform: scale(.3);
        background-color: rgb(255, 255, 255);
    }
}

@-ms-keyframes bounce_fountainG {
    0% {
        -ms-transform: scale(1);
        background-color: rgb(0, 0, 0);
    }

    100% {
        -ms-transform: scale(.3);
        background-color: rgb(255, 255, 255);
    }
}

@-webkit-keyframes bounce_fountainG {
    0% {
        -webkit-transform: scale(1);
        background-color: rgb(0, 0, 0);
    }

    100% {
        -webkit-transform: scale(.3);
        background-color: rgb(255, 255, 255);
    }
}

@-moz-keyframes bounce_fountainG {
    0% {
        -moz-transform: scale(1);
        background-color: rgb(0, 0, 0);
    }

    100% {
        -moz-transform: scale(.3);
        background-color: rgb(255, 255, 255);
    }
}

@media (max-width: 992px) {
    .board {
        display: inline-block;
        width: 100%;
    }

    .add-new-board {
        width: calc(100% - 10px);
    }

}

@media (max-width: 480px) {
    .carts {
        left: calc(50% - 152px);
    }
}

.board_opened {
    background-color: #0079bf;
}

.add-cart {
    background: transparent;
    width: auto;
    text-align: left;
    color: #8f8f8f;
    box-shadow: none;
}

.custom-column-title {
    color: #4d4d4d;
    font-weight: 700;
}