{# app/Resources/views/index.html.twig #}
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="google-signin-client_id" content="457085791571-0nqpdqkvp5bh3hqj6lo6v82f5muvamli.apps.googleusercontent.com">
    <title>{% block title %}Kanban Board{% endblock %}</title>
     <link rel="stylesheet"
           href="{{ asset('assets/vendor/bootstrap/dist/css/bootstrap.min.css') }}">
     <link rel="stylesheet"
           href="{{ asset('bundles/app/css/styles.css') }}">
    <script src="{{ asset('assets/vendor/jquery/dist/jquery.min.js') }}"></script>
    <script src="{{ asset('assets/vendor/jquery-ui/jquery-ui.min.js') }}"></script>
    <script src="https://apis.google.com/js/client:platform.js?onload=renderButton" async defer></script>
    <script src="{{ asset('bundles/app/js/boards.js') }}"></script>
    <script src="{{ asset('bundles/app/js/validation.js') }}"></script>
</head>

<body>
<div class="header">
    {% block header %}
    {% endblock %}
</div>

<div class="content">
    {% block body %}
        {% if app.request.hasPreviousSession %}
            {% for type, messages in app.session.flashbag.all() %}
                {% for message in messages %}
                    <div class="flash-{{ type }}">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endfor %}
        {% endif %}
        {% block fos_user_content %}
        {% endblock fos_user_content %}
    {% endblock %}
</div>

</body>
</html>
{% block script %}

{% endblock %}