<div class="checklist-info" checklis_id="{{ checklist.id }}">
    <h2>
        {{ checklist.name }}
    </h2>
    {% if checklist.is_done %}
        <p class="checkout-status">
            Status: Done
        </p>
    {% else %}
        <p class="checkout-status">
            Status: In progress
            <button class="btn btn-success" onclick="Board.setAsDoneChecklist(this)">
                Set as done
            </button>
        </p>
    {% endif %}
    <div class="comments">
        <h3>
            Comments:
        </h3>
        {% for comment in comments %}
            <div class="comment">
                {{ comment.comment }}
                <p class="left-by">
                    Left by {{ comment.username }}
                </p>
            </div>
        {% endfor %}
        <button class="btn btn-success" id="get-comment-form" onclick="Board.getChecklistCommentForm()">
            Add Comments
        </button>
    </div>
</div>