<div class="checklist-comment-form">
    <textarea id="new-comment" class="form-control"></textarea>
    <button class="btn btn-success" onclick="Board.addCommentsinChecklist(this)">
        Add Comment
    </button>
    <button class="btn btn-warning" onclick="Board.cancelNewChecklistComment(this)">
        Cancel
    </button>
</div>