<div class="checkout-form">
    <input id="new-checkout-name" placeholder="Checkout name" class="form-control"/>
    <textarea id="new-checkout-comment" placeholder="Checkout comment" class="form-control"></textarea>
    <input type="checkbox" id="is-checkout-done" class="checkbox-inline" />
    <label for="is-checkout-done" class="label label-info">Is done</label>
    <br/>
    <button class="btn btn-success" onclick="Board.addCheckout()">
        Add
    </button>
    <button class="btn btn-warning" onclick="Board.cancelNewCheckout()">
        Cancel
    </button>
</div>