{% extends 'AppBundle:layout:main.html.twig' %}
{% block header %}
    {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
        <p class="log-out">
            {{ 'layout.logged_in_as'|trans({'%username%': app.user.username}, 'FOSUserBundle') }} |
            <a href="{{ path('fos_user_security_logout') }}">
                {{ 'layout.logout'|trans({}, 'FOSUserBundle') }}
            </a>
        </p>
    {% endif %}
    <!-- HTML for displaying user details -->
    <div class="userContent"></div>
    <h2 class="header-title">
        Kanban Board
    </h2>
{% endblock %}
{% block body %}
    <div class="container">
        <div class="boards col-md-12">
            {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                <h2 class="board-title">
                    Boards:
                </h2>
                <div class="clear"></div>
                <div class="clear"></div>
                {% for board in boards %}
                    <div class="col-md-3 board">
                        <h3 class="custom-board-title">
                            <button class="btn btn-openboard" onclick="Board.openBoard({{ board.id }})">
                                {{ board.name|e }}
                            </button>
                            {% if (board.user_id == user_id) %}
                                <button board_id="{{ board.id }}" onclick="Board.editBoard(this)" class="edit_board">
                                    <i class="glyphicon glyphicon-pencil"></i>
                                </button>
                                <button class="remove_board" column_id="{{ board.id }}"
                                        onclick="Board.removeBoard({{ board.id }})">
                                    <i class="glyphicon glyphicon-remove"></i>
                                </button>
                            {% endif %}
                        </h3>
                        <p class="owner">
                            Created by {{ board.username|e }}
                        </p>
                    </div>
                {% endfor %}
                <div class="col-md-3 board" id="add_board"></div>
                <button class="btn col-md-3 add-new-board" onclick="Board.getNewBoardForm()">
                    Add new board
                </button>
            {% endif %}
        </div>
        <div class="carts">
        </div>
        {% if not is_granted("IS_AUTHENTICATED_REMEMBERED") %}
            <div class="sign-in">
            </div>
            <div class="register_pass"></div>
        {% endif %}
        <div class="black-background">
            <div id="fountainG">
                <div id="fountainG_1" class="fountainG"></div>
                <div id="fountainG_2" class="fountainG"></div>
                <div id="fountainG_3" class="fountainG"></div>
                <div id="fountainG_4" class="fountainG"></div>
                <div id="fountainG_5" class="fountainG"></div>
                <div id="fountainG_6" class="fountainG"></div>
                <div id="fountainG_7" class="fountainG"></div>
                <div id="fountainG_8" class="fountainG"></div>
            </div>
        </div>
    </div>

{% endblock %}
{% block footer %}
{% endblock %}
{% block script %}
    <script>
        $(document).ready(function () {
            /**
             * Render google sign in
             */
            $.post("/login-form", function (data) {
                $('.sign-in').html(data);
                renderButton();
            });
        });

        /**
         * Google account login
         * @param googleUser
         */
        function onSuccess(googleUser) {
            var profile = googleUser.getBasicProfile();
            gapi.client.load('plus', 'v1', function () {
                var request = gapi.client.plus.people.get({
                    'userId': '457085791571-0nqpdqkvp5bh3hqj6lo6v82f5muvamli.apps.googleusercontent.com'
                });
                //Display the user details
                request.execute(function (resp) {
                    var profile = googleUser.getBasicProfile();
                    data = {name: profile.getName(), email: profile.getEmail()};
                    $.post("/login-google", {data: data}, function (data) {
                        var profileHTML = '<div class="profile"><div class="head">Logged in as ' + profile.getName() + ' |&nbsp <a href="javascript:void(0);" onclick="signOut();">Sign out</a></div>';
                        $('.userContent').html(profileHTML);
                        $('.sign-in').slideUp('slow');
                        Board.updateBoard();
                    });
                });
            });
        }

        /**
         * On fail of googe account login
         * @param error
         */
        function onFailure(error) {
            alert(error);
        }

        /**
         * Render btn for google account login
         */
        function renderButton() {
            gapi.signin2.render('gSignIn', {
                'scope': 'profile email',
                'width': 320,
                'height': 50,
                'longtitle': true,
                'theme': 'dark',
                'onsuccess': onSuccess,
                'onfailure': onFailure
            });
        }

        /**
         * Sign out from account
         */
        function signOut() {
            var auth2 = gapi.auth2.getAuthInstance();
            auth2.signOut().then(function () {
                $.post("/logout-google", function (data) {
                    $('.boards').html('');
                    $('.columns-page').remove();
                    $('.columns-titel').remove();
                    $('.userContent').html('');
                    $('.sign-in').slideDown('slow');
                    renderButton();
                });
            });
        }
    </script>
{% endblock %}