<div class="set-password">
    <h2>
        Please, set your password
    </h2>
    <div class="password-box">
        <input class="form-control" placeholder="Your Password"/>
        <input class="form-control" placeholder="Confirm Password"/>
        <button class="btn add-board-btn" onclick="login(googleUser)">
            Login
        </button>
        <button class="btn btn-danger cancel-board-btn" onclick="Board.cancelNewBoard()">
            Cancel
        </button>
    </div>
</div>